@import "tailwindcss";

/* Con este import, Tailwind hace lo siguiente: */
/* 
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities); 
*/

:root {
  --base-color: rgb(255, 177, 146);
  --baselight-color: rgb(255, 225, 214);
}

@layer base {
  html {
    scrollbar-width: thin;
  }

  body {
    @apply text-indigo-900;
    background-color: var(--base-color);
  }
  
  :is(h1, h2, h3, h4, h5) {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  button {
    cursor: pointer;
  }
}

@layer components {
  .btn {
    padding: .3rem 0.6rem;
    border: 2px solid oklch(35.9% 0.144 278.697);
    border-radius: 20px;
    font-weight: 700;

    &:hover {
      background-color: oklch(35.9% 0.144 278.697);
      color: var(--base-color);
    }
  }

  .divider {
    margin-block: 0.8rem;
    width: 100%;
    height: 3px;
    background-color: oklch(35.9% 0.144 278.697);
    border-radius: 10px;
  }
}